/*-----------------------------------------------------------------------*/
/* GLOBAL                                                                */
/*-----------------------------------------------------------------------*/

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight:100;
  --blue: rgb(2, 128, 144); /*#028090*/
  --red:rgb(217,63,95); /*#d93f5f*/
  --opale:rgb(0,184,174); /*#00b8ae*/
  --brown:rgb(77,53,46); /*#4d352e*/
  --orange:rgb(191,110,51);/*#bf6e33*/
  --grey:rgb(211,188,175);/*#d3bcaf*/
  --beige:rgb(240,218,200);/*#f0dac8*/
  --white:rgb(253,251,249);/*#fdfbf9*/
}


.sectionbleue {
  background-color: var(--blue);
  color:white;
}

.sectiongrise {
  background-color: var(--grey);
}

h3 {font-weight: 300}


@media (min-width: 992px) {
  h1 {font-size:120px;}
  h2 {font-size:45px;}
  h3 {font-size:18px;}
  p{font-size:30px; margin:30px auto;}
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {font-size:90px;}
  h2 {font-size:35px;}
  h3 {font-size:15px;}
  p{font-size:24px; margin:24px auto;}
}

@media (max-width: 767px) {
  h1 {font-size:45px;}
  h2 {font-size:20px;}
  h3 {font-size:15px;}
  p{font-size:18px; margin:18px auto;}
}


/*-----------------------------------------------------------------------*/
/* BANNER                                                                */
/*-----------------------------------------------------------------------*/

.banner {
  height:85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-image: url("../assets/images/banner.png")
}

.banner .container {
  height:100%;
  position:relative;
  text-align:center;
  display: flex;
  justify-content:center;
  align-items: center;
}

.banner .titre{
  margin:auto;
}


h1 {
  color:var(--blue);
  font-weight: 600;
}
h2 {
  color:var(--white);
}

h1, h2 {
  text-transform:uppercase;
}

@media (max-width: 767px) {
  .banner {height:65vh;}
}

.footer {
  padding:20px;
  background-image: url("../assets/images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  text-align:center;
}

.footer a {
  color:var(--blue);
  text-decoration: none;
}
.footer a:hover {
  color:var(--opale);
}

.footer img {
  height:auto;
  width: 100%;
}
